<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.antimage.routermodule" >

    <application
        android:name="com.antimage.basemodule.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/rt_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/rt_AppTheme">

        <activity android:name=".RouterTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
