<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.antimage.routermodule" >

    <application>
        <activity android:name=".RouterTestActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
    </application>

</manifest>
