<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.antimage.independentmodule" >

    <application>

        <activity android:name="com.antimage.independentmodule.test.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
